body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    margin-top: 0;
}
.section {
    margin-bottom: 30px;
}
.summary {
    background-color: #F9F9F9;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.summary p {
    margin: 10px 0;
}
.experience,
.projects,
.skills,
.education,
.achievements {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.experience h2,
.projects h2,
.skills h2,
.education h2,
.achievements h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}
.experience ul,
.projects ul,
.skills ul,
.education ul,
.achievements ul {
    padding-left: 20px;
}
ul li {
    list-style: none;
    margin-bottom: 5px;
    color: #555;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}